$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-xl: #fff;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
