@use 'global' as g;
.section_hero {
  background: url('../../assets/img/start-screen-gradient-background.png'),
    radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  padding-top: 90px;
  display: flex;
  gap: 42px;
  align-items: center;
}

.hero-title {
  color: g.$color-light-xl;

  /* h2 */
  font-family: Georgia;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 57.2px */
}

.hero-text {
  color: g.$color-dark-s;

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
  margin: 42px 0;
}
