@use 'global' as g;

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.section_dog {
  margin-top: 80px;
  margin-bottom: 100px;
}
.section-title {
  color: g.$color-dark-l;

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}
.section-title-center {
  text-align: center;
}

.section-text {
  color: g.$color-dark-xl;

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}

.section-right {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section_slider {
  background: g.$color-light-l;
  padding: 80px 0 100px 0;
}
.flex-wrapper-slider {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 60px;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}
.btn-arrow {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  display: inline-flex;
  padding: 23px 19px;
  flex-direction: column;
  align-items: center;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  gap: 30px;

  border-radius: 9px;
  background: g.$color-light-s;
}
.card-name {
  color: g.$color-dark-l;
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.btn-card {
  width: max-content;
}
