@use 'global' as g;

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.section_dog {
  margin-top: 80px;
  margin-bottom: 100px;
}
.section-title {
  color: g.$color-dark-l;

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}

.section-text {
  color: g.$color-dark-xl;

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}

.section-right {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
